<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles.css" />

  <title>New Product</title>
</head>

<body>
  <h1>Create a new Product!</h1>

  <a href="/products">
    <h3>Home</h3>
  </a>

  <form method="POST" action="/products">
    <label for="product-name">Product Name:</label>
    <input name="productName" id="product-name" />
    <br/>

    <label for="price">Price:</label>
    <input name="price" id="price" />
    <br/>

    <button type="submit">Create!</button>
  </form>
</body>
</html>
