<h1>Create a new Product!</h1>

<a href="/products">
  <h3>Home</h3>
</a>

<form method="POST" action="/products">
  <label for="product-name">Product Name:</label>
  <input name="productName" id="product-name" />
  <br/>

  <label for="price">Price:</label>
  <input name="price" id="price" />
  <br/>

  <button type="submit">Create!</button>
</form>
