<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles.css" />

  <title>All Products</title>
</head>

<body>
  <h1>All the Products!</h1>

  <a href="/products/new">
    <h3>Create a new Product!</h3>
  </a>

  <% products.forEach((product) => { %>
    <div class="product">
      <h2>Product Name: <%= product.product_name %></h2>
      <h3>Price: $<%= product.price %></h3>
      <a href="/products/<%= product.id %>">
        <h4>Edit</h4>
      </a>
    </div>
  <% }) %>

</body>
</html>
