<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>
</head>
<body>
  <h2>The Books of <%= "#{@author.first_name} #{@author.last_name}"%></h2>
  <%= link_to 'Home', authors_path  %>
  <% @books.each do |book| %>
    <div>
      <%= book.title %>
    </div>
  <% end %>
</body>
</html>
