<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Villain</title>
</head>
<body>
    <a href="/villains">Home</a>
    <h1>A brand new villain! mwah ha ha ha!</h1>
    <form method="POST" action="/villains">
        <label for="name">Name</label>
        <input type="text" id="name" name="name"/>
        <br/>
        <label for="movie">Movie</label>
        <input type="text" id="movie" name="movie"/>
        <br/>
        <button type="submit">Create New Villain</button>
    </form>
</body>
</html>
