<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resources</title>
</head>
<body>
  <h1>Resources!</h1>
  
  <ul>
    <% for (const id in resources) { %>
      <a href="/resources/<%= id %>">
        <li>
          <h3><%= `${id} - ${resources[id]}` %></h3>
        </li>
      </a>
    <% } %>
  </ul>

  <form method="POST" action="/resources">
    <label for="id">Id</label>
    <input type="text" name="id" id="id">
    <br/>

    <label for="resource">Resource</label>
    <input type="text" name="resource" id="resource">
    <br/>
    
    <button type="submit">Add</button>
  </form>
</body>
</html>
