<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Villains</title>
</head>
<body>
    <h1>All the best villains!</h1>
    <a href="/villains/new">Create New Villain</a>
    <% if (villains) { %>
        <ul>
            <% for (const villain of villains) { %>
                <li>
                    <a href="/villains/<%= villain.id %>">
                        <h4><%= `${villain.villain} from ${villain.movie} (${villain.id})` %></h4>
                    </a>
                </li>
            <% } %>
        </ul>
    <% } %>
</body>
</html>
