* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 50px;
}

header {
  height: 160px;
  background-color: coral;
}

section {
  height: 300px;
  border: 2px solid black;
}

section div {
  height: 50vh;
  width: 25%;
  margin: 10%;
  line-height: 150px;
  display: inline-block;
  background-color: lightpink;
  text-align: center;
}

footer {
  background-color: burlywood;
  height: 150px;
}
