@import 'sass-variables';

@mixin header-styles {
  height: 50px;
  background-color: $header-bg;
}

@mixin box-sizes($n) {
  height: $n;
  width: $n;
  line-height: $n;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header-text {
  font-size: 2em;
  font-family: 'sans-serif';
}

.heading {
  @extend .header-text;
  color: rebeccapurple;
}

header {
  @include header-styles();
}

section {
  border: $border;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  div {
    @include box-sizes(50px);
    display: inline-block;
    background-color: lightpink;
    text-align: center;
  }
}

footer {
  background-color: burlywood;
  height: 30px;
}

@media only screen and (max-width: $break-point) {
  body {
    background-color: lightblue;
  }
}
