* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: coral;
}

section {
  border: 2px solid black;
}

div {
  height: 50px;
  width: 50px;
  margin: 10px;
  line-height: 50px;
  display: inline-block;
  background-color: lightpink;
  text-align: center;
}

footer {
  background-color: burlywood;
  height: 30px;
}

@media only screen and (max-width: 500px) {
  /* these styles will be applied if the screen width is less than 500px */
  body {
    background-color: lightblue;
  }
}
