.button {
  border: 2px solid black;
  padding: 10px;
  border-radius: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blue {
  border-color: blue;
  background-color: lightblue;
}

.pink {
  border-color: hotpink;
  background-color: lightpink;
}
