div {
  color: turquoise;
  border: 4px dotted lightgrey;
}

p {
  color: red;
  background-color: lightblue;
}

.container p {
  color: turquoise;
}
.container div {
  font-size: 24px;
  text-decoration: underline;
}

.header-text, .heading {
  font-size: 24px;
  font-family: "sans-serif";
}

.heading {
  color: purple;
}

header {
  height: 50px;
  background-color: orange;
  color: white;
}

.small-square {
  height: 4em;
  width: 4em;
  font-size: 2em;
  border: 1em solid black;
}

.med-square {
  height: 30px;
  width: 30px;
  font-size: 15px;
  border: 7.5px solid black;
}
