article {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 10px;
    margin: 10px auto;
}

article header {
    font-size: 1.2em;
    color: tomato;
}

article footer {
    font-size: 0.8em;
    color: lightgray;
}
