<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index Page</title>
</head>
<body>
  <h1>Custom Template</h1>
  <h2>Message: <%= message %></h2>
  <h2>You are logged in as <%= username %> and are <%= age %> years old</h2>
</body>
</html>
