/* 
primary: #A84028;
secondary: #754034;
bright: #DB2E08;
dark: #422F2A;
font-dark: #332C2B;
font-bright: #E2C4BE;

font-family: 'Grape Nuts', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Share Tech Mono', monospace;
*/

html {
  height: 400px;
  width: 500px;
  background-color: #a84028;
  color: #e2c4be;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

header {
  height: 60px;
  background-color: #754034;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Grape Nuts", cursive;
  border-bottom: 2px solid #422f2a;
}

header h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

div.main-heading {
  display: flex;
  justify-content: center;
}

div.pomodoro {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#timer {
  font-family: "Share Tech Mono", monospace;
}

button {
  background-color: #754034;
  border: 2px solid #422f2a;
  padding: 0.35rem 0.75rem;
  border-radius: 1rem;
  color: #e2c4be;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  width: 5rem;
}

button:active {
  transform: translateY(0.25rem);
}

.hide {
  display: none;
}

.progress {
  display: flex;
  justify-content: center;
}

meter::-webkit-meter-optimum-value {
  background: #754034;
}

meter::-moz-meter-bar {
  background: #754034;
}

meter {
  width: 25rem;
  font-size: 2rem;
}

footer {
  display: flex;
  justify-content: center;
}

footer img {
  margin-top: 1rem;
  width: 10rem;
}
