<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Login</title>
</head>
<body>
  <h1>Login Below!</h1>
  <p>First time here? <a href="/register">Register!</a></p>

  <form method="POST" action="/login">
    <label>Username</label>
    <input name="username" />
    <br/>
    <label>Password</label>
    <input name="password" />
    <br/>
    <button type="submit">Login</button>
  </form>
</body>
</html>
