<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Register</title>
</head>
<body>
  <h1>Registration Form</h1>
  <p>Already registered? <a href="/login">Login!</a></p>

  <form method="POST" action="/register">
    <label>Username</label>
    <input name="username" />
    <br/>
    <label>Password</label>
    <input name="password" />
    <br />
    <button type="submit">Register</button>
  </form>
</body>
</html>
