.box {
  height: 150px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.hotpink {
  background-color: hotpink;
}
