$primary-color: turquoise;
$secondary-color: red;
$border-color: lightgrey;
$border-width: 4px;
$border-style: dotted;
$border: $border-width $border-style $border-color;
$background-color: lightblue;
